.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Question {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 5rem;
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 0 1rem;
  background-color: #b3d4ff;
}

.Answer {
  background-color: #cce2ff;
}

.Accepted-answer {
  background-color: lightcoral;
}

.Selected-answer {
  background-color: lightyellow;
}

.Selected-accepted-answer {
  background-color: lightgreen;
}

.Answer, .Accepted-answer, .Selected-answer, .Selected-accepted-answer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 5rem 1rem 2.5rem;
  border: 1px;
  border-color: black;
  border-style: solid;
  padding: 0 1rem;
  word-wrap: break-word;
}

.Button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  margin: 1rem;
  min-width: 11rem;
}

ul {
  list-style-type: none;
  margin: 0;
}

h2 {
  margin: .5rem 5rem;
}

article {
  word-wrap: break-word;
}

code {
  word-wrap: break-word;
}

.App-link {
  color: #61dafb;
}



